<!DOCTYPE html>
<html lang="en" ng-app="reservationApp">
<head>
    <meta charset="UTF-8">
    <title>Space Reservation System of Design Factory</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="node_modules/sparql.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!--<script src="node_modules/angular-bootstrap/ui-bootstrap.js"></script>-->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="app/js/SpaceService.js"></script>
    <script src="app/js/SpaceController.js"></script>
</head>
<body>
<h1>Space reservation system</h1>
<div ng-controller="SpaceController as space">
    <div id="select" ng-repeat="select in space.selects">
    <select ng-model="select.type" ng-options="type.name for type in space.types">
        <option value="">-- Choose type --</option>
    </select>
    <select ng-if="!select.type.yousense" ng-model="select.criterium" ng-options="stuff.desc for stuff in select.type.criteria"></select>
    <input ng-if="select.type.yousense" type="text" name="input1" ng-model="select.yousenseString">
    </div>
    <button class="btn btn-primary" ng-click="space.addCriteria()">Add criteria</button>
    <button class="btn btn-primary" ng-click="space.removeCriteria()">Remove criteria</button>
    <button class="btn btn-primary" ng-click="space.execute()">Search</button>
    <div></div>
    <h2>Sort by</h2>
    <select ng-model="space.sortBy" ng-options="sort.name for sort in space.sorts"></select>
    <h2>Spaces</h2>
    <ul>
        <li ng-repeat="room in space.spaces">
            <div>
                <h2>{{room.name}}, YouSense rating {{room.rating}}</h2>
                <img src="{{room.imgsrc}}" height="200px">
            </div>
        </li>
    </ul>
</div>
</body>
</html>